@import url('https://fonts.googleapis.com/css2?family=Concert+One&family=Great+Vibes&family=Open+Sans+Condensed:ital,wght@1,300&display=swap');
.orta .sag{
    display:flex;
    flex-direction: column;
    align-items: left;
    margin-top:30px
}
.kirmizi{
    color:red
}
.kahve{
    color: sienna;
}
.orta{
    color: silver;
    font-size: 15px;
    font-family: 'Open Sans Condensed', sans-serif;
    letter-spacing: 1px;
}
.sonyazi{
    margin-top:30px;
}
.sag span{
    margin-top:5px
}
.sag strong{
    font-weight: bolder;
    font-size: 15px;
    color: rgb(99, 27, 22);
}
.sag button{
    padding:4px 7px;
    margin-right: 4px;
    font-weight: bolder;
    box-shadow: 1px 1px 6px white;
    background-color: rgb(99, 27, 22);
    text-align: center;
    
}
.sol img{
    margin-top: 60px;
    max-width: 80%;
}
Table tr,td{
    color: silver;
    font-family: 'Open Sans Condensed', sans-serif;

}
Table th{
    font-size: 19px;
    color: rgb(102, 25, 25);
    font-family: 'Open Sans Condensed', sans-serif;

}
.yesil{
    color:green;
    font-weight: bolder;
}
.nonen{
    color:brown;
    font-weight: bolder;

}

.ucresim img{
    max-width: 20%;
    border-bottom:2px solid rgb(153, 15, 15);
    border-bottom-right-radius: 25%;
    border-bottom-left-radius: 25%;
    
}
.ucresim img:hover{
    transform: scale3d(2,2,2);
    transition: all 2s ease-in-out;
    cursor: pointer;
    
}
.ucresim{
    display: flex;
    align-items: center;
    justify-content: left;
    margin-top:-40px;
}
.borderr strong{
    border:1px solid white;
    padding:4px 8px;
    color: white;
    background-color: rgb(44, 42, 42);
    border-radius: 10px;
}
.borderr strong:hover{
    border:1px solid white;
    padding:4px 8px;
    color: white;
    background-color:black;
    border-radius: 10px;
    cursor: pointer;
}
button:hover{
    color:rgb(213, 209, 209)

}
@media screen and (max-width:500px){
    .orta{
        color: silver;
        font-size: 12px;
        font-family: 'Open Sans Condensed', sans-serif;
        text-align: center;
    }
    .ucresim{
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top:-40px;
    }
    .ucresim img{
       max-width: 70px;
    }
    .sol img{
        margin-top: 10px;
        margin-bottom: 40px;
    }
    .sag span{
        margin-bottom: 5px;
    }
    Table{
        max-width: 70%;
        font-size: 12px ;
        margin: auto;
    }
}