@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Dancing+Script:wght@500&display=swap');

.tanitim{
    margin-top: 50px;
    color:rgb(252, 252, 252);
    font-size: 17px;
    opacity:0.6;
    font-family: 'Caveat', cursive;
    transition: all 1s ease-in-out;

} 
.dis{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 50px;
}
.dis .buyut{
    font-size: 60px;
}
.dis span{
    max-width:370px;
    text-align: left;
}
.dis .buyut:hover{
    color:red;
    transition: all 1sn ease-in-out;
    cursor: pointer;
}
.bir{
    border-bottom: 10px solid red;
    margin-bottom: 50px;
}
.iki{
    border-bottom: 10px solid blue;
    margin-bottom: 50px;
}
.uc{
    border-bottom: 10px solid blueviolet;
    margin-bottom: 50px;
}
.dort{
    border-bottom: 10px solid rgb(38, 218, 62);
    margin-bottom: 50px;
}